@import '../../../colours.scss';

.delete-recipe {
  &-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  &-button-yes {
    button {
      background-color: transparent;
      border: 1px solid $primary-colour;
      border-radius: 3px;
      color: $primary-colour;
      font-size: 16px;
      font-weight: 200;
      height: 40px;
      margin: 0 10px;
      font-family: inherit;
      width: 100px;
    }
  }

  &-button-no {
    button {
      background-color: $primary-colour;
      border: 0;
      border-radius: 3px;
      color: $white;
      font-size: 16px;
      font-weight: 200;
      font-family: inherit;
      height: 40px;
      margin: 0 10px;
      width: 100px;
    }
  }

  &-message {
    color: $submit-button-colour;
    margin: 20px 0;
    text-align: center;
  }
}
