@import "../../../colours";

.recipe-editor {
  h3 {
    font-family: "font-bold";
    margin-bottom: 20px;
  }

  &-name {
    display: flex;
    justify-content: center;

    input {
      border: 1px solid $input-border-colour;
      border-radius: 3px;
      font-family: inherit;
      display: inline-block;
      font-size: 18px;
      height: 30px;
      margin: 0 30px;
      text-align: center;
      width: 100%;
    }
  }

  &-ingredients {
    padding: 30px;

    &-add-button {
      text-align: center;

      button {
        background: $primary-colour;
        border-radius: 3px;
        border: 0;
        color: $secondary-colour;
        font-family: inherit;
        height: 40px;
        margin: auto;
        width: 200px;
        font-size: 16px;
      }
    }
  }

  &-steps {
    padding: 30px;

    &-add-button {
      text-align: center;

      button {
        background: $primary-colour;
        border-radius: 3px;
        border: 0;
        color: $secondary-colour;
        font-family: inherit;
        height: 40px;
        margin: auto;
        width: 200px;
        font-size: 16px;
      }
    }
  }

  &-step {
    margin-bottom: 20px;

    div {
      display: flex;
      justify-content: center;
      font-family: inherit;
    }

    textarea {
      border: 1px solid $input-border-colour;
      font-family: "font-regular";
      width: 100%;
      border-radius: 3px;
      min-height: 50px;
      min-width: 100%;
      font-size: 14px;
    }

    &-remove-button {
      text-align: center;
      button {
        background: $secondary-colour;
        border-radius: 3px;
        border: 0;
        color: $primary-colour;
        font-family: inherit;
        font-size: 16px;
        height: 40px;
        margin: 10px auto 10px;
        width: 100%;
      }
    }
  }

  &-message {
    color: $submit-button-colour;
    margin-bottom: 20px;
    text-align: center;
  }

  &-submit-button {
    text-align: center;

    button {
      background: $primary-colour;
      border-radius: 3px;
      border: 0;
      color: $button-text-colour;
      font-family: inherit;
      font-size: 16px;
      height: 40px;
      margin: 10px 50px;
      width: 200px;
    }
  }
}
