@import "../../colours";

.landing {
  h1 {
    background-color: $primary-colour;
    color: $white;
    font-size: 26px;
    font-weight: lighter;
    letter-spacing: 5px;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
  }

  &-loading {
    margin: 10px auto;
    text-align: center;
  }

  &-version {
    color: $label-colour;
    font-size: 12px;
    margin: 10px 0;
    text-align: center;
  }

  &-login {
    background-color: $white;
    border-radius: 3px;
    margin: auto;
    min-width: 60%;
    padding: 20px 10px;
    width: fit-content;

    button {
      background: $primary-colour;
      border-radius: 3px;
      border: 0;
      color: $button-text-colour;
      display: block;
      font-family: inherit;
      height: 30px;
      margin: 0 auto;
      width: 100%;
    }

    input {
      border: 1px solid $input-border-colour;
      box-sizing: border-box;
      height: 25px;
      margin: 5px 0;
      width: 100%;
      font-family: inherit;
      border-radius: 3px;
    }
  }
}
