@import "../../colours";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: block;

  h1 {
    font-weight: 300;
    text-align: center;
    font-family: "font-bold";
  }

  &-main {
    background: $white;
    left: 50%;
    max-height: 90%;
    overflow-y: auto;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;

    @media screen and (max-width: 1024px) {
      max-height: 90%;
      width: 90%;
      overflow: auto;
    }
  }

  &-close-button {
    svg {
      height: 50px;
      position: absolute;
      right: 0px;
      top: 0px;
      width: 50px;
    }
  }
}
