@import "../../colours.scss";

.filter {
  margin: 20px auto;
  width: 95%;

  input {
    border-radius: 3px;
    font-family: inherit;
    border: 0;
    color: $label-colour;
    font-size: 22px;
    height: 60px;
    padding: 20px;
    width: 100%;

    ::placeholder {
      color: $label-colour;
    }
  }
}
