$background-colour: #e8e8e8;
$text-colour: #444;
$day-text-colour: #546e7a;
$version-colour: rgb(170, 170, 170);
$primary-colour: #5a7bfd;
$label-colour: rgb(170, 170, 170);


$add-button-colour: #248cb3;
$remove-button-colour: #e8514d;
$submit-button-colour: #13ba85;
$button-text-colour: #fff;

$input-border-colour: #cbd5d9;

$error-colour: rgb(207, 54, 54);
$success-colour: rgb(123, 207, 54);

$white: #fff;
