$background-colour: #e8e8e8;
$button-text-colour: #fff;
$error-colour: rgb(207, 54, 54);
$input-border-colour: #cbd5d9;
$label-colour: rgb(170, 170, 170);
$primary-colour: #5a7bfd;
$remove-button-colour: #e8514d;
$submit-button-colour: #13ba85;
$success-colour: rgb(123, 207, 54);
$text-colour: #444;
$white: #fff;
