$background-colour: #E8E9F7;
$button-text-colour: #fff;
$error-colour: #f44336;
$input-border-colour: #D0D5DD;
$label-colour: #667085;
$primary-colour: #2a5fc9;
$remove-button-colour: #e8514d;
$submit-button-colour: #13ba85;
$success-colour: rgb(123, 207, 54);
$text-colour: #101828;
$white: #fff;
