@import "../../colours";

.planner {
  &-buttons {
    text-align: center;
    &-container {
      display: inline-flex;

      &-save-button {
        background: $primary-colour;
        border-radius: 3px;
        border: 0;
        color: $button-text-colour;
        font-family: inherit;
        font-size: 14px;
        height: 40px;
        margin: 10px 15px;
        width: 160px;
      }
    }
  }

  &-loading {
    margin: 10px;
    text-align: center;
  }

  &-message {
    color: $success-colour;
    margin: 10px;
    text-align: center;
  }
}
