@import "../../colours";

.planner {
  &-save-button {
    text-align: center;

    button {
      background: $primary-colour;
      border-radius: 3px;
      border: 0;
      color: $button-text-colour;
      font-family: inherit;
      height: 40px;
      margin: 10px 15px;
      width: 160px;
    }
  }

  &-loading {
    margin: 10px;
    text-align: center;
  }

  &-message {
    color: $success-colour;
    margin: 10px;
    text-align: center;
  }
}
