@import "../../colours.scss";

.recipes {
  &-row {
    background-color: $white;
    border-radius: 20px;
    margin: 10px auto;
    min-width: 60%;
    padding: 20px 10px;
    width: fit-content;
  }

  &-name {
    color: $label-colour;
    font-size: 22px;
    margin: auto;
    padding-left: 10px;
    width: 100%;
  }

  &-buttons {
    display: flex;

    button {
      background: $primary-colour;
      border: 0;
      border-radius: 3px;
      color: $button-text-colour;
      height: 30px;
      margin: 5px;
      width: 40%;
      font-family: inherit;
    }
  }

  &-page-buttons {
    max-width: 60%;
    align-items: center;
    margin: auto;
  }

  &-add-button,
  &-refresh-button {
    background: $primary-colour;
    border: 0;
    border-radius: 3px;
    color: $button-text-colour;
    display: block;
    height: 30px;
    margin: 10px auto;
    width: 100%;
    font-family: inherit;
  }
}
